.sucess-container-app {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding:10px 20px;
}
.sucess-container-app-left {
    width: 50%;
   order:0;
    padding: 60px 10px;
}
.sucess-container-newspaper-app {
    background-color: #36384D;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding:100px 200px ;
    display: flex;
    align-items: center;
}
.heading {
    padding: 10px;
    color: black;
    font-weight: bold;
}
.email-container {
    width: 30px;
    height: 50px;
}
.subscribe-container {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin: 15px;
}
.paragraph {
    padding: 17px;
    font-size: 15px;
    color: #36384D;
}
.list-container {
    font-size: 15px;
    color: #36384D;
    display: flex;
}
.icon-container{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.paragraph-icon{
   padding: 4px 14px;
}

.paragragh-icon{
  
    padding: 4px 14px;  
}
.input-container {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
.input-container-design {
    margin: 20px;
}
.image-container-right {
    width: 50%;
    order:1;
}
.image-right{
    height: 100%;
    width: 100%;
    
}
@media (max-width:560px) {
    .sucess-container-newspaper-app {
       
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

     .sucess-container-app {
    display: flex;
    width: 350px;
    height: 100%;
        flex-direction: column;
    } 

    .sucess-container-app-left{
order:1;
        width: 100%;
    } 
    
    .image-container-right {
        height: 100%;
        width:330px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        order:0;
        padding-right:15px ;
         
    }
    }

